.content__container {
  display: grid;
  width: 90wv;
  grid-template-columns: 1.2fr 1.2fr;
  margin: 8rem 5rem 0rem;
}

.content__main {
  display: grid;
  grid-template-rows: 1fr 0.5fr;
}

.content__main--days {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}
.content__main--astro {
  padding: 1rem 10rem;
}
