.background {
  background: #44a08d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #093637,
    #44a08d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #093637,
    #44a08d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -10;
}

.canvas__overlay {
  z-index: -9;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  /* backdrop-filter: blur(2px); */
  /* background: rgba(255, 255, 255, 0.8); */
}
