@media screen and (max-width: 103.5rem) {
  .content__container {
    gap: 3rem;
    margin: 5rem 2rem;
  }
}

@media screen and (max-width: 97rem) {
  html {
    font-size: 56.25%;
  }
  .content__container {
    gap: 0;
  }
  .content__container {
    display: grid;
    width: 90wv;
    grid-template-columns: 1.2fr 1.5fr;
    gap: 3rem;
  }
  .content__main--days {
    padding: 3rem 2rem;
  }

  .content__hourly {
    margin-top: 5rem;
  }
  .content__main {
    margin-top: 3rem;
  }
}

@media screen and (max-width: 87rem) {
  html {
    font-size: 50%;
  }

  .content__hourly {
    margin-top: 6rem;
  }
}

@media screen and (max-width: 80rem) {
  .content__container {
    grid-template-columns: 1fr;
    margin: 5rem 2rem;
    justify-items: center;
  }
  .header {
    display: flex;
    flex-direction: column-reverse;
    gap: 4rem;
    margin: 4rem;
    align-items: center;
  }
  html {
    font-size: 56.25%;
  }
}

@media screen and (max-width: 48rem) {
  .content__hourly {
    grid-template-columns: repeat(3, 1fr);
    font-size: 45%;
  }

  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 36rem) {
  html {
    font-size: 39%;
  }

  .content__main--days {
    justify-self: center;
  }
  .card__icon--big {
    width: 9rem;
    height: 9rem;
    margin-top: 0.5rem;
  }

  .card__text {
    min-width: 11rem;
  }
  .content__side:last-child {
    margin-bottom: 3rem;
  }
}
