.content__container {
  display: grid;
  width: 100vw;
  grid-template-columns: 4fr 1fr;
}

.content__main {
  height: 85vh;
  display: grid;
  grid-template-rows: 1fr 1.2fr;
}

.content__side {
  height: 85vh;
  border: 1px solid blue;
}

.content__main--days {
  border: 1px solid red;
  display: flex;
  gap: 3rem;
  align-items: center;
  padding: 5rem;
  justify-content: center;
}

.content__main--details {
  border: 1px solid yellow;
}
