.header {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  justify-items: center;
  margin-top: 4rem;
  font-size: 3.2rem;
  gap: 2rem;
}

.header__text {
  display: inline-block;
}

.header__icon {
  height: 2.4rem;
  margin-right: 2rem;
}
